.container {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
}

.faq_panel-inner-wrapper {
    padding: 20px;
    background-color: #f9f9f9;
}

.faq_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titlefaq {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    color: #343434;
}

.sectionarrowrightfaq .viewalllink {
    text-decoration: none;
    color: var(--theme-yellow);
    font-weight: bold;
}

.faq_inner_wrapper_content {
    margin-top: 20px;
}

.accordion-item {
    border: none;
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #fff;
    color: #3c3c3c;
    padding: 20px 0px;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
}
.accordion-header {
    outline: none;
}

.accordion-button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

.accordion-body {
    padding: 20px;
    background-color: #fff;
}

.faqontentanswer p {
    margin: 0;
}

/* Faq.css */

.overflow-hidden {
    transition-property: max-height;
}

@media(max-width:1080px) {
    
}